@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100 10% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --custom-background: "bg-[radial-gradient(circle_at_57%_36%,_hsla(263,0%,78%,0.04)_0%,_hsla(263,0%,78%,0.04)_10%,_transparent_10%,_transparent_100%),_radial-gradient(circle_at_22%_61%,_hsla(263,0%,78%,0.04)_0%,_hsla(263,0%,78%,0.04)_36%,_transparent_36%,_transparent_100%),_radial-gradient(circle_at_68%_97%,_hsla(263,0%,78%,0.04)_0%,_hsla(263,0%,78%,0.04)_41%,_transparent_41%,_transparent_100%),_radial-gradient(circle_at_57%_89%,_hsla(263,0%,78%,0.04)_0%,_hsla(263,0%,78%,0.04)_30%,_transparent_30%,_transparent_100%),_radial-gradient(circle_at_39%_80%,_hsla(263,0%,78%,0.04)_0%,_hsla(263,0%,78%,0.04)_22%,_transparent_22%,_transparent_100%),_radial-gradient(circle_at_88%_71%,_hsla(263,0%,78%,0.04)_0%,_hsla(263,0%,78%,0.04)_30%,_transparent_30%,_transparent_100%),_linear-gradient(0deg,_rgb(255,255,255),_rgb(255,255,255))]";
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.showup {
  animation: showup 1.5s;
}

@keyframes showup {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .typewriter {
    width: 560px;
  }

  @keyframes typingdown {
    0% {
      width: 0;
    }
    50% {
      width: 560px;
    }
    100% {
      width: 0;
    }
  }
}

@media (max-width: 767px) {
  .typewriter {
    width: 230px;
  }

  @keyframes typingdown {
    0% {
      width: 0;
    }
    50% {
      width: 230px;
    }
    100% {
      width: 0;
    }
  }
}
.typewriter {
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  border-right: 0.15em solid blue;
  animation: typingdown 5s steps(40, end) 1.5s infinite alternate,
    blink 0.75s step-end 1.5s infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(59 130 246);
  }
}
